{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load cart %}
{% block body %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <hr>
                <button class="btn btn-success">Continue</button>
            </form>
        </div>
        <br>
        <div class="btn btn-success btn-block" type="submit" id="payment-info">
            <small>Paypal Option</small>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a href="{% url 'order_summary' %}">&#x2190;Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                <div style="flex:2"><p>{{ item.product.name}}</p></div>
                <div style="flex:1"><p>Rs {{item.product.price}}</p></div>
                <div style="flex:1"><p>{{ item.product.quantity}}</p></div>

            </div>
            {% endfor %}
            <h5>Item: <b>{{ request.user|cart_item_count }}</b></h5>
            <h5>Total: <strong>Rs: {{ order.get_total|floatformat:2 }}</strong></h5>

        </div>

    </div>

</div>




{% endblock %}