{% extends 'base.html' %}
{% load static %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" >
                  <div class="card-header">
                    Categories
                  </div>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item"><a href="{% url 'store' %}">All</a></li>
                      {% for category in category %}
                        <li class="list-group-item"><a href="{% url 'store' %}?category={{ category.name }}">{{ category.name }}</a></li>
                      {% endfor %}

                  </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for item in item %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img src="{{ item.image.url }}" class="image-thumbail" alt="Photos not found">
                            <div class="card-body">
                                {% if item.discount_price %}
                                    <h2>Rs: {{ item.discount_price }}</h2>
                                {% else %}
                                    <h2>Rs: {{ item.price }}</h2>
                                {% endif %}
                            </div>
                            <a href="{% url 'detail' item.id  %}" class="btn btn-outline-info btn-sm m-1">{{ item.title }}</a>
                            <a href="{% url 'add_to_cart' item.id  %}" class="btn btn-outline-info btn-sm m-1">Add to Cart</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>





{% endblock %}